.cardDetail {
  min-height: 270px;
  max-height: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px;
  margin-right: 20px;
  padding: 20px;
  background-clip: padding-box;
  @media (min-width: 768px) {
    height: 350px;
    width: 480px;
    gap: 15px;
    }
    &_image {
        padding: 10px;
        width: 150px;
        height: 200px;
        @media (min-width: 768px) {
          width: 220px;
          height: 300px;  
        }
    }
    &_text {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        &_name {
            font-size: 1.6rem;
            margin-bottom: 5px;
            @media (min-width: 768px) {
              font-size: 2rem;
              margin-bottom: 5px;
            }
        }
        &_info {
            font-weight: bold;
      font-size: 1rem;
      @media (min-width: 768px) {
        font-size: 1.4rem;
      }

        }
    }
}
.card {
  background-color: black;
  padding: 20px;
}